:root {
  --white: #fafafa;
  --text: #333333;
  --yellow: #f1e26f;
  --red: #eb5048;
  --blue: #2ea7ba;
  --lightblue: #c9f6f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-columns: 380px auto;
  gap: 25px;

  nav {
    background-color: #f4f4f4;
    display: flex;;
    flex-direction: column;
    padding: 10px;

    & * {
      text-transform: capitalize;
    }

    .town-logo {
      margin: 25px auto;
      width: 128px;
    }

    input {
      height: 40px;
      padding: 0 10px 0 20px;
      border-radius: 25px;
      border: 0;
      outline: none;
      background-color: #fafafa;
      color: #333333;
      font: 400 14px "Poppins";

      &::placeholder {
        color: #a9a9a9;
        font: 400 14px "Poppins";
      }
    }

    .category-tags__container {
      display: flex;
      gap: 10px;
      margin: 20px 0;
      flex-wrap: wrap;

      .tag__container {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 35px;
        padding: 0 10px;
        border-radius: 25px;
        background-color: #fafafa;
        border: 0;
        cursor: pointer;
        outline: none;

        &.active {
          background-color: #e2e2e2;
        }

        &:hover {
          background-color: #e2e2e2;
        }

        span {
          color: #333333;
          font: 400 12px "Poppins";
        }

        .tag__icon {
          width: 32px;
          border-radius: 50px;
        }
      }
    }

    .items-category__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #333333;
      margin-bottom: 25px;

      h2 {
        font: 500 21px "Poppins";
        margin-bottom: 10px;
      }


      .cat-item__container {
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: #e2e2e2;
        cursor: pointer;
        margin-left: 10px;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: color .3s;
        color: #333333;
        text-decoration: none;

        &.router-link-exact-active {
          &:after {
            width: 100%;
          }

          color: #fafafa;

          &:after {
            transition: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: linear-gradient(45deg, #E24534, #ED6846);
          transition: width .5s;
          z-index: -1;

        }

        &:hover {
          color: #fafafa;

          &:after {
            width: 100%;
          }
        }

        .building__icon {
          height: 42px;
          margin-right: 10px;
        }

        button {
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          border: 0;
          border-radius: 3px;
        }


        h3 {
          font: 500 16px "Poppins";
          line-height: 1.1;
        }

        p {
          font: 400 14px "Poppins";
          line-height: 1.1;
        }
      }
    }
  }


  // Views
  .building-info__container {
    background-color: #f4f4f4;
    display: flex;;
    flex-direction: column;

    .building__img {
      margin: 0 auto;
      height: 256px;
      width: 256px;
    }

    .outputs {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
      padding: 25px 0;

      .output-card__container {
        background-color: var(--white);
        border-radius: 6px;
        overflow: hidden;
        min-width: 250px;

        .output-card__title {
          font: 500 18px "Poppins";
          text-align: center;
          background-color: var(--yellow);
          color: var(--red);
          padding: 10px 0;
        }

        .output-card__product {
          margin: 12px auto;
          display: flex;
        }

        .output-card__time {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          img {
            width: 32px;
          }

          span {
            color: var(--blue);
            font: 500 16px "Poppins";
            letter-spacing: 0.5px;
          }
        }

        .output-card__ingredients {
          background-color: var(--lightblue);
          border-radius: 3px;
          padding: 10px 5px;
          gap: 5px;
          display: grid;
          margin: 10px 8px;

          .output-card__ingredient {
            display: flex;
            align-items: center;
            gap: 5px;
            text-transform: capitalize;

            img {
              width: 42px;
            }

            p {
              color: var(--text);
              font: 400 14px "Poppins";
            }
          }
        }

        .output-card__prizes {
          padding: 0 12px;
          display: flex;
          justify-content: center;
          gap: 15px;
          .output-card__prize {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
              width: 32px;
            }

            p {
              color: var(--text);
              font: 400 14px "Poppins";
            }
          }
        }
      }
    }

    table {
      border-collapse: collapse;
      display: flex;
      flex-direction: column;
      width: 99%;
      margin: 25px auto;
      border: 2px solid #fafafa;
      border-radius: 3px;
      tr {
        display: flex;
        justify-content: space-between;
        &:nth-child(even) {
          background-color: #fafafa;
        }

        td {
          padding: 15px;
          font: 400 14px "Poppins";
          &:nth-child(odd) {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}